    <div class="footer">
      <div class="container">
        <span class="text-muted">Back to the Top</span>
        <span class="text-muted">SOCIAL ICONS</span>
        <span class="text-muted">About us</span>
        <span class="text-muted"></span>

      </div>
    </div>
