<div class="navbar-container">
  <div class="navbar-content">

    <div class='nav-left'>
        <a href="/">
      <img class="small-size" src="/assets/flock_logo.png" alt="Flock logo">
    </a>

    </div>

    <ul class='nav-right hidden-sm-down'>
      <li class="nav-right-padding"><a>Jobs</a></li>
      <li class="nav-right-padding"><a>For employers</a></li>
      <% if current_user %>
      <li> <%= link_to 'Log Out', destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    </ul>

    <div class="dropdown hidden-md-up">
      <button class="btn-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <li><a>Jobs</a></li>
        <li><a>For employers</a></li>
        <li><%= link_to "Log out", destroy_user_session_path,:method => :delete %></li>
      </div>
    </div>

  </div>
