<div class="section-1">
    <div class="banner" style="background-image: url('<%= image_path 'officeimgtransparency2.png', crop: :fill; %>') ;">
      <ul class="home-list">
        <h3 class="headline">Find the company that values the <b>unique you</b>.</h3>
        <br>

        <%= link_to 'Join', new_user_registration_path, class: "btn btn-orange joinbutton" %>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-orange" %>

        <!-- down blue arrow -->
        <br>
        <br>
        <br>
        <br class="hidden-xs-down">
        <br class="hidden-xs-down">
        <br class="hidden-xs-down">
        <div id="section07" class="demo">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
