<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-md-8" style="max-width: 700px;">
    <div class="auth-form">
      <div class="text-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to 'Log in', user_user_auth_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Join us', user_user_signup_path, class: "nav-link active" %>
          </li>
        </ul>
        <form class="login-form">
          <h4 class="centered mt-5 mb-5">Create your account</h4>
          <label for="inputUserEmailAddress" class="sr-only">Email address</label>
          <input type="company_name" id="inputUserEmailAddress" class="form-control mb-2" placeholder="Email address" required="" autofocus="">
          <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required="">
          <label for="inputPassword" class="sr-only">Password Confirmation</label>
          <input type="password" id="inputPassword_confirmation" class="form-control mb-2" placeholder="Password Confirmation" required="">
          <button class="btn-orange log-in-button" type="submit">Sign Up</button>
          <br><input type="checkbox" value="remember-me" style="text-align:left"> Receive occasional emails about user-bonuses and updates to our service
        </form>
        <div class="login-form-bottom">
          <div style="display: inline-flex;">
            <div class="btn-connect btn-facebook">Connect with LinkedIn <i class="devicon-facebook-plain white pl-3"></i></div>
            <div class="btn-connect btn-github">Connect with GitHub <i class="devicon-github-plain white pl-3"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
