<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-md-8" style="max-width: 700px;">
    <div class="auth-form">
      <div class="text-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to 'Log in', user_user_auth_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Join us', user_user_signup_path, class: "nav-link" %>
          </li>
        </ul>
        <form class="login-form">
          <h4 class="centered mt-5 mb-5">Log in to your account</h4>

          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required="">
          <button class="btn-orange log-in-button" type="submit">Log in</button>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
        </form>
        <div class="login-form-bottom">
          <div>
            Don't have an account yet? <a>Join us now »</a>
            <br>
            You have a LinkedIn account? <a>Connect with LinkedIn »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


