<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-md-8" style="max-width: 700px;">
    <div class="text-center">
      <form class="login-form">
        <h4 class="centered mt-5 mb-5">Create your account</h4>
        <label for="inputUserEmailAddress" class="sr-only">Email address</label>
        <input type="company_name" id="inputUserEmailAddress" class="form-control mb-2" placeholder="Email address" required="" autofocus="">
        <label for="inputUserEmailAddressConfirmation" class="sr-only">Email address confirmation</label>
        <input type="company_website" id="inputUserEmailAddressConfirmation" class="form-control mb-2" placeholder="Email address confirmation" required="" autofocus="">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required="">
        <label for="inputPassword" class="sr-only">Password Confirmation</label>
        <input type="password" id="inputPassword_confirmation" class="form-control mb-2" placeholder="Password Confirmation" required="">
        <div class="checkbox mb-3">
          <label>
          </label>
        </div>
        <button class="btn-orange log-in-button" type="submit">Sign Up</button>
        <br><input type="checkbox" value="remember-me" style="text-align:left"> Receive occasional emails about user-bonuses and updates to our service
      </form>
      <div class="login-form-bottom">
        <div>
          Do you already have an account? <a>Log in now »</a>
          <br>
          You have a LinkedIn account? <a>Connect with LinkedIn »</a>
        </div>
      </div>
    </div>
  </div>
</div>


