.sm-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sm-padding-top {
  padding-top: 20px;
}

.sm-padding-bot {
  padding-bottom: 20px;
}



.md-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.md-padding-top {
  padding-top: 40px;
}

.md-padding-bot {
  padding-bottom: 40px;
}



.lg-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.lg-padding-top {
  padding-top: 60px;
}

.lg-padding-bot {
  padding-bottom: 60px;
}

